# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dev-Studio crap...
Debug/
*.user
*.VC.opendb
*.VC.db
.vs/
*.opensdf
*.sdf
*.suo
ipch/

# Linux stuff...
*.o
*.snap
Snap/stage/
Snap/parts/
Snap/prime/
.*.swp
.*.dblite
config.log
.sconf_temp/
TwistyPuzzle
*.swp
.vscode/
